parameters:
    level: 8
    paths:
        - src
        - tests
    excludePaths:
        - vendor/*
    symfony:
        container_xml_path: var/cache/dev/App_KernelDevDebugContainer.xml
    ignoreErrors:
        - '#Call to an undefined method [a-zA-Z0-9\\]+::findOneBy\(\)#'
        - '#Call to an undefined method [a-zA-Z0-9\\]+::findBy\(\)#' 